= simple_form_for @kitten do |f|
  = f.input :name, label: "Name of Kitteh: "
  = f.input :age, label: "Age in years: "
  = f.input :cuteness, label: "How cute? "
  = f.input :softness, label: "How soft? "
  = f.button :submit